%table.table.table-bordered
  %thead
    %tr
      %th
        Repository
      %th
        Title

  %tbody
    - pull_requests.each do |pull_request|
      %tr
        %td
          = link_to pull_request.repository.url do
            #{pull_request.repository.owner}/
            %strong><
              = pull_request.repository.name
        %td
          = link_to pull_request.url do
            = pull_request.title
          %span.pull-right
            = "##{pull_request.number}"
