- content_for :css do
  = stylesheet_link_tag 'users/show'
- content_for :js do
  = javascript_include_tag 'users/show'

.user_header
  %h1
    #{params[:id]}'s Pull Requests

  - if @login_user
    = link_to 'Refresh Data', user_path(params[:id]), class: 'btn', method: :patch

- tabs = [:merged, :open, :closed, :contributed]

- if @user.present?
  %ul.nav.nav-tabs
    - badge_by_tab = { merged: :success, open: :warning, closed: :important, contributed: :info }
    - tabs.each_with_index do |tab, index|
      %li{ class: ('active' if index == 0) }
        = link_to "##{tab}", class: 'tab_change' do
          #{tab.capitalize}
          %span.badge{ class: "badge-#{badge_by_tab[tab]}" }
            = @user.public_send(tab).size

  - view_type_by_tab = { merged: :pullreq, open: :pullreq, closed: :pullreq, contributed: :repo }
  - tabs.each_with_index do |tab, index|
    .tab_content{ id: tab, class: ('active' if index == 0) }
      - case view_type_by_tab[tab]
      - when :pullreq
        = render 'pull_requests', pull_requests: @user.public_send(tab)
      - when :repo
        = render 'repositories', repositories: @user.public_send(tab)

- else
  %p
    This user's data is not fetched yet.
  %p
    Please
    = link_to new_session_path do
      sign in
    to load his data from Github.
