!!!
%html{ lang: 'ja' }
  %head
    %title
      Preq
    = stylesheet_link_tag 'application', media: 'all'
    = content_for :css
    = javascript_include_tag 'application'
    = javascript_include_tag 'search_user'
    = content_for :js
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, class: 'brand' do
            Pull Req Viewer
          %form.navbar-search
            = text_field :user, :login, class: 'search-query', placeholder: 'username'
          %ul.nav.pull-right
            %li
              - if @login_user.present?
                = link_to sessions_path, class: 'login', method: :delete do
                  = image_tag @login_user.avatar_url, class: 'avatar'
                  Logout
              - else
                = link_to 'Login', new_session_path, class: 'login'
    .container
      = yield
